/* Footer */
.footer {
    background-color:hsl(23.16deg 80.73% 58.26%);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  